<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profile - Renting Platform</title>
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/components.css" />
  <link rel="stylesheet" href="css/control-panel.css" />
</head>

<body>
  <div class="container market-page">
    <header class="header-box">
      <h2 class="header-title">Renting Platform</h2>
      <nav class="market-nav" style="height: 30px">
        <label class="label"><%= user.name%></label>
        <label class="label"><%= user.email%></label>
        <a href="/" class="btn">Home</a>
      </nav>
    </header>
    <section>
      <form action="/controlPanel" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter the product's name" required />
        <input type="number" name="price" placeholder="Enter the product's price" required />

        <select type="text" name="category" required>
          <option value="">Select category</option>
          <option value="Construction Tools">Construction Tools</option>
          <option value="Travel & Camping">Travel & Camping</option>
          <option value="Garden">Garden</option>
          <option value="Party">Party</option>
        </select>

        <label>Upload Photo:</label>
        <input type="file" name="photo" accept="image/*" required />

        <button type="submit" class="btn">submit</button>
      </form>
    </section>
    <!-- <section class="market-grid">
      <h2>My Rentings</h2>
      <div class="card">
        <h3>Product 1</h3>
        <a href="#" class="btn">View</a>
      </div>
    </section> -->
    <section class="products-section">
      <h2>My Products</h2>

      <% if (products.length===0) { %>
        <p class="no-products">No products found</p>
        <% } else { %>
          <div class="products-grid">
            <% products.forEach(product=> { %>
              <div class="product-card">
                <div class="product-image">
                  <img src="<%= product.photoUrl %>" alt="<%= product.name %>" />
                </div>
                <div class="product-info">
                  <h3 class="product-name"><%= product.name %></h3>
                  <p class="product-category"><%= product.category %></p>
                  <p class="product-price">$<%= product.price %></p>
                </div>
              </div>
            <% }) %>
          </div>
        <% } %>
    </section>

  </div>
</body>

</html>